h1,
h2,
h3, 
p {
  font-family: "Helvetica", sans-serif;
}

h1 {
  color: Khaki;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  background-image: url("./imgs/Tile\ texture\ image.webp");
  display: block;
}


h2 {
  display: block;
  font-weight: bold;
}

.item h2 {
  font-size: 32px;
  color: white;
}

#brush {
  background-color: mediumspringgreen;
}


